*{
    margin: auto;
    padding-left: 0%;
}


.right{
    padding-top: 100px ;
    float: right;
    width: 70%;
     margin: auto; 
    
     padding-left: 20px;

}


.left{
    padding-top: 60px ;

    padding-left: 30px;
    color: white;
    float: left;
    /* display: inline-flex; */
    background-color: grey;
    height: 800px;
    width: 23%;
     margin: auto; 
    

}

img{
    padding-left: 20px;
    height: 175px;
    width: 175px;
    border-radius: 100px;
    
}
.main{
    width: 80%;
    margin: auto;  
    background-color: rgba(128, 128, 128, 0.514);
    

    

}